+b.menu
	+e.list
		+e.link О нас
		+e.link Вакансии
		+e.link Плюсы работы
		+e.link Ответы на вопросы
	+e.btn
		+e.btn-icon--1
			+svg("btn-icon")
		+e.btn-text Заполнить анкету
		+e.btn-icon--2
			+svg("btn-icon")
