+b.menu
	+e.list
		+e.link.js-scroll-link(href="#section1" data-target="section1" data-i18n="menu.link_1") О нас
		+e.link.js-scroll-link(href="#section2" data-target="section2" data-i18n="menu.link_2") Вакансии
		+e.link.js-scroll-link(href="#section3" data-target="section3" data-i18n="menu.link_3") Плюсы работы
		+e.link.js-scroll-link(href="#section4" data-target="section4" data-i18n="menu.link_4") Ответы на вопросы
	+e.btn.js-scroll-link(href="#section5" data-target="section5")
		+e.btn-icon--1
			+svg("btn-icon")
		+e.btn-text Заполнить анкету
		+e.btn-icon--2
			+svg("btn-icon")
