.home {
	position: relative;

	@include devices {
		overflow-x: hidden;
	}

}

.home-tab {
	position: absolute;
	bottom: 0;
	height: vc(72);
	width: vc(744);
	background: $color-white;
	border-radius: vc(58);
	padding: vc(11) vc(12);
	box-shadow: 0 vc(3) vc(8) rgba(180, 180, 180, 0.25);
	transform: translateY(50%);
	cursor: pointer;

	&__icon {
		width: vc(50);
		margin-right: vc(16);
	}

	&__arrow {
		width: vc(24);
		height: vc(24);
		transform: rotate(-90deg);
		transition: transform 0.3s ease-in-out;

		.is-open-tab & {
			transform: rotate(0deg);
		}
	}

	&__content {
		display: flex;
		align-items: center;
	}

	&__text {
		font-size: vc(16);
		line-height: vc(20);
		color: #686868;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-right: vc(12);
	}
}

.home-tab-menu {
	position: absolute;
	bottom: vc(-6);
	left: 0;
	background: $color-white;
	width: 100%;
	height: vc(156);
	background: $color-white;
	box-shadow: 0 vc(3) vc(8) rgba(180, 180, 180, 0.25);
	border-radius: vc(24);
	padding: vc(24);
	opacity: 0;
	transform: translateY(80%);
	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

	.is-open-tab & {
		opacity: 1;
		transform: translateY(100%);
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: vc(18);

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__text {
		font-size: vc(16);
		line-height: vc(20);
		color: #222222;
	}

	&__arrow {
		width: vc(24);
		height: vc(24);
		transform: rotate(-90deg);
	}
}

.home-intro {
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: center;
	height: 100vh;
	height: vc(506);
	background: $color-white;
	border-radius: vc(30);
	margin: vc(4) 0;
	padding: vc(20);

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: vc(20);
	}

	&__wrapper {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: vc(350);
		background: $color-orange;
		border-radius: vc(20);
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: vc(596);
		margin-bottom: vc(36);

		@include devices {
			width: 100%;
			padding: 0 vc(16);
		}
	}

	&__title {
		font-weight: 900;
		font-size: vc(50);
		line-height: vc(50);
		text-align: center;
		text-transform: uppercase;
		color: $color-white;
		margin-bottom: vc(12);
	}

	&__desc {
		font-weight: 500;
		font-size: vc(19);
		line-height: vc(24);
		text-align: center;
		color: $color-white;
		width: vc(551);
	}

	@include devices {
		height: var(--vh);
	}
}

.home-about {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: vc(100) 0 0;
	background: $color-white;
	border-radius: vc(30) vc(30) 0 0;
	margin: vc(4) 0 0;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: vc(640);

		@include devices {
			width: 100%;
			padding: 0 vc(16);
		}
	}

	&__title {
		text-align: center;
		margin-bottom: vc(23);
	}

	&__desc {
		text-align: center;
	}

	@include devices {
		padding: vc(238) 0 vc(150);
	}
}

.home-goal {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: vc(70) 0 vc(100);
	background: $color-white;
	border-radius: 0 0 vc(30) vc(30);

	&__content {
		display: flex;
		justify-content: center;
		align-items: flex-start;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: vc(70);
		padding: vc(50);
		width: vc(290);
		border-radius: vc(40);
		background: #FDF7EE;

		&:nth-child(2) {
			margin: 0 vc(20);
		}
	}

	&__number {
		font-family: $font-Bogart;
		font-weight: 600;
		font-size: vc(70);
		line-height: vc(70);
		text-align: center;
		color: $color-orange;
		margin-bottom: vc(2);
	}

	&__name {
		font-weight: 500;
		font-size: 19px;
		line-height: 24px;
		text-align: center;
		text-transform: uppercase;
		color: $color-orange;
		margin-bottom: vc(40);
	}

	&__desc {
		font-size: vc(16);
		line-height: vc(20);
		text-align: center;
		color: #898072;
		width: vc(200);
	}
}

.home-bonus {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: vc(100) vc(76);
	margin-top: vc(4);
	background: $color-white;
	border-radius: vc(30);

	&__content {
		display: flex;
		flex-direction: column;
		width: vc(1128);

		@include devices {
			width: 100%;
		}
	}

	&__title {
		margin-bottom: vc(23);
	}

	&__desc {
		width: vc(552);
	}

	&__slider {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: vc(70);
		width: vc(1128);
	}

	&__item {
		position: relative;
	}
}

.home-faq {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: vc(100) 0 0;
	margin: vc(4) 0;
	background: #171008;
	min-height: vc(641);
	border-radius: vc(30);

	&__wrapper {
		position: relative;
		display: flex;
		height: 100%;
		flex: 1 1 auto;
		justify-content: space-between;
		width: vc(1128);
	}

	&__dialog {
		position: absolute;

		&--1 {
			width: vc(130);
			bottom: vc(287);
			left: vc(244);
		}

		&--2 {
			z-index: 2;
			width: vc(225);
			bottom: vc(213);
			left: vc(282);
		}
	}

	&__left {
		width: vc(552);
	}

	&__right {
		margin-top: vc(43);
		width: vc(552);
	}

	&__title {
		color: #8B8783;
		margin-bottom: vc(23);
	}

	&__desc {
		color: $color-white;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__man {
		position: absolute;
		left: 0;
		bottom: vc(-1);
		width: vc(259);
	}
}

.home-vacancy {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: vc(100) 0;
	margin: vc(4) 0;
	background: $color-white;
	border-radius: vc(30);

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: vc(1128);
	}

	&__list {
		display: flex;
		gap: vc(12);
	}

	&__title {
		margin-bottom: vc(24);
	}
}

.home-form {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: vc(100) 0;
	margin: 0 0 vc(4);
	background: $color-white;
	border-radius: vc(30);
	color: #232324;

	&__wrapper {
		position: relative;
		display: flex;
		height: 100%;
		flex: 1 1 auto;
		justify-content: space-between;
		width: vc(1128);
	}

	&__left {
		width: vc(552);
	}

	&__right {
		margin-top: vc(43);
		width: vc(552);
	}

	&__title {
		margin-bottom: vc(23);
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&-row {
		  	position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: vc(8);
			margin-bottom: vc(12);
		}
	}

	&__file {
		display: flex;
		align-items: center;
		width: 100%;
		height: vc(70);
		margin-top: vc(30);

		label {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding: vc(16) vc(24);
			border-radius: vc(16);
			background: #FDF7EE;

			input[type="file"] {
				display: none;
			}
		}

		&-icon {
			width: vc(26);
			height: vc(26);
			margin-right: vc(12);
		}

		&-content {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}

		&-info {
			font-size: vc(11);
			line-height: vc(14);
			color: #898072;
			margin-bottom: vc(3);
		}

		&-name {
			position: relative;
			display: flex;
			align-items: center;
			font-size: vc(16);
			line-height: vc(20);
			color: #232324;
			width: 100%;

			&-default {
				.is-has-file & {
					opacity: 0;
				}
			}

			&-value {
				position: absolute;
				opacity: 0;

				.is-has-file & {
					opacity: 1;
				}
			}
		}
	}

	&__input {
		display: flex;
		align-items: center;
		width: vc(272);
		height: vc(68);
		border-radius: vc(16);
		padding: vc(24);
		background: #FDF7EE;
		font-size: vc(16);
		line-height: vc(20);
		color: #232324;

		&--long {
			width: 100%;
			margin-top: vc(18);
		}

		&.error {
			color: #FF0000;
			border: 1px solid #FEA19B;
		}

		@include devices {
			width: 100%;
			padding: vc(19);
			margin: 0 0 vc(8);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: vc(262);
		height: vc(68);
		border-radius: vc(16);
		background: rgba($color-orange, 0.5);
		margin-top: vc(30);
		transition: background 0.3s ease-in-out;
		cursor: pointer;

		@include desktop {
			&:hover {
				background: $color-orange;
			}
		}

		&-icon {
			width: vc(10);
			height: vc(10);

			&--2 {
				transform: rotate(60deg);
			}
		}

		&-text {
			font-weight: 600;
			font-size: vc(16);
			line-height: vc(20);
			color: $color-white;
			margin: 0 vc(10) vc(2);
		}
	}
}

.home-contacts {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: vc(293);
	padding-bottom: vc(103);

	&__bg-1 {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
		width: 100%;
		pointer-events: none;
	}

	&__title {
		margin-bottom: vc(40);

		@include devices {
			font-size: vc(45);
		}
	}

	&__content {
		display: flex;

		@include devices {
			flex-direction: column;
			width: 100%;
			padding: 0 vc(16);
		}
	}

	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: vc(272);
		height: vc(66);
		font-weight: 500;
		font-size: vc(16);
		line-height: 110%;
		background: #252525;
		border-radius: vc(16);
		margin: 0 vc(4);

		&-border {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			pointer-events: none;
		}

		@include devices {
			width: 100%;
			margin: 0 0 vc(8);
		}
	}

	@include devices {
		margin-top: vc(195);
		padding-bottom: vc(50);
	}
}
