+popup({id: `product-6`}).popup-bars
	+b.popupBars
		+e.img-wrapper
			+e.IMG.img-product(src=`${baseDir}assets/images/bars/4.png` alt="")
			+e.IMG.img-bg(src=`${baseDir}assets/images/home/product-bg.png` alt="")
		+e.content
			+e.top
				+e.title COCONUT, CREAM & ALMOND

				.tabs
					ul.tab-menu
						li.tab-link.active(data-tab='tab-product-6-1' data-i18n="common.menu_1") Описание
						li.tab-link(data-tab='tab-product-6-2' data-i18n="common.menu_2") Состав
						li.tab-link(data-tab='tab-product-6-3' data-i18n="common.menu_3") Пищевая ценность

					+b.tab-content.js-custom-scrollbar.active#tab-product-6-1
						+e.subtitle(data-i18n="common.products.text_3") Описание:
						+e.desc(data-i18n="products.prod_6.text") Кокосовый батончик с&nbsp;кремом и&nbsp;миндалём&nbsp;&mdash; это кусочек райского отдыха прямо у&nbsp;вас в&nbsp;руках. В&nbsp;каждом батончике&nbsp;&mdash; 12,6&nbsp;г протеина, поддерживающего ваши мышцы и&nbsp;способствующего восстановлению после активного дня. А&nbsp;ещё в&nbsp;составе имеется:
					+b.tab-content.js-custom-scrollbar#tab-product-6-2
						+e.subtitle.mb(data-i18n="common.products.text_4") Состав:
						+e.desc
							span(data-i18n="products.prod_6.tab_1.text_1")
							br
							span(data-i18n="products.prod_6.tab_1.text_2")
					+b.tab-content.js-custom-scrollbar#tab-product-6-3
						+e.IMG.graph(src=`${baseDir}assets/images/bars/graph-4.png` alt="")

			+e.BUTTON.btn-back.popup__close(type="button" data-i18n="back") Назад
