+popup({id: `product-3`}).popup-bars
	+b.popupBars
		+e.img-wrapper
			+e.IMG.img-product(src=`${baseDir}assets/images/bars/1.png` alt="")
			+e.IMG.img-bg(src=`${baseDir}assets/images/home/product-bg.png` alt="")
		+e.content
			+e.top
				+e.title COFFEE LATTE

				.tabs
					ul.tab-menu
						li.tab-link.active(data-tab='tab-product-3-1' data-i18n="common.menu_1") Описание
						li.tab-link(data-tab='tab-product-3-2' data-i18n="common.menu_2") Состав
						li.tab-link(data-tab='tab-product-3-3' data-i18n="common.menu_3") Пищевая ценность

					+b.tab-content.js-custom-scrollbar.active#tab-product-3-1
						+e.subtitle(data-i18n="common.products.text_3") Описание:
						+e.desc(data-i18n="products.prod_3.text") Кофе латте батончик&nbsp;&mdash; это не&nbsp;просто вкусный перекус, это ваш личный компаньон в&nbsp;ежедневной рутине, который поднимает настроение и&nbsp;дарит энергию на&nbsp;весь день. В&nbsp;каждом батончике&nbsp;&mdash; целых #[span.is-green 13,1&nbsp;г протеина!] Это значит, что вы&nbsp;получаете мощную поддержку для ваших мышц.
					+b.tab-content.js-custom-scrollbar#tab-product-3-2
						+e.subtitle.mb(data-i18n="common.products.text_4") Состав:
						+e.desc
							span(data-i18n="products.prod_3.tab_1.text_1")
							br
							span(data-i18n="products.prod_3.tab_1.text_2")
					+b.tab-content.js-custom-scrollbar#tab-product-3-3
						+e.IMG.graph(src=`${baseDir}assets/images/bars/graph-1.png` alt="")

			+e.BUTTON.btn-back.popup__close(type="button" data-i18n="back") Назад
