+popup({id: `popup-vacancy-3`}).popup-vacancy
	+b.popupVacancy
		+e.top
			+e.left
				+e.icon-default
					+svg("job-0")
				+e.icon-job
					+svg("job-3")
			+e.right
				+e.date 6 октября 2024 года
		+e.content
			+e.title.js-vacancy-job Уборщик
			+e.salary.js-vacancy-salary 3.000.000 сум
			+e.desc Полный рабочий день, сменный график
		+e.scroll.js-custom-scrollbar
			+e.info-wrapper
				+e.info
					+e.info-title Обязанности
					+e.info-list
						+e.info-item Приготовление хот-догов и других блюд  по рецептурам 
						+e.info-item Контроль качества продукции 
						+e.info-item Соблюдение санитарных норм и стандартов компании 
						+e.info-item Участие в разработке нового меню
				+e.info
					+e.info-title Условия работы:
					+e.info-list
						+e.info-item Официальное трудоустройство 
						+e.info-item Оплачиваемый отпуск 
						+e.info-item Бесплатное питание 
						+e.info-item Карьерный рост до шеф-повара 
						+e.info-item Работа в молодой и дружной команде
		+e.btn-wrapper
			+e.BUTTON.btn--back.popup__close
				+e.btn-text Назад
			+e.BUTTON.btn--send.js-popup-open(data-id="popup-form" data-current="popup-vacancy-3")
				+e.btn-text Зполнить анкету
